server:
  port: 8401

spring:
  application:
    name: cloudalibaba-sentinel-service
  cloud:
    nacos:
      discovery:
        #Nacos服务注册中心地址
        server-addr: localhost:8848
    sentinel:
      transport:
        #配置Sentinel dashboard地址
        dashboard: localhost:8080
        #默认8719端口，假如被占用会自动从8719开始依次+1扫描，直至找到未被占用的端口
        #弹幕 sentinel会启动一个http server与dashboard进行通信，这个http server 要占用8719这个端口

        port: 8719


management:
  endpoints:
    web:
      exposure:
        include: '*'

